h1{
    text-align: center;
    margin: 12px 0;
    font-family: serif;
}

.container{
    min-height: 83vh;
}

.Myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Myinput{
    /* display: block; */
    width:30%;
    padding: 9px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
.btn{
    padding: 10px 16px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 15px;
    color: white;
    background-color: rgb(72, 70, 70);
    cursor: pointer;
}
.btn:hover{
    color: bisque;
    box-shadow: 12px;
}
