doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/logo.png", alt="Aniket's Academy")
          | ADA
        li #[a(href="/") Home] 
        li #[a(href="/") Services ]
        li #[a(href="/contact") Contact us ]
        li #[a(href="/") Class Info ]
        li #[a(href="/") About us ]
    section#introSection 
      div Welcome to Aniket's Dance Academy 
      div.small Eat Sleep Dance Repeat
    section#missionSection 
      h2 Our Mission   
      div.card
        h3 Dance Perfection
        div.card-box
          div.card-img 
            img(src="/static/mj.png", alt="MJ")
          div.card-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus delectus a!
      div.card
        h3 Dance the way you like
        div.card-box
          div.card-img 
            img(src="/static/download.png", alt="MJ")
          div.card-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus delectus a!
      div.card
        h3 Expert Teching 
        div.card-box
          div.card-img 
            img(src="/static/pole.png", alt="MJ")
          div.card-content 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus delectus a!

    section#sponsorSection 
      h3 Our Sponsor  
    footer#footer 
        | Copyright © 2022 AniketAcademy.com | All Rights Reserved
    script
      include ../static/index.js